body {
	background-image: url('./../img/fresno-wood.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'MedievalSharp', cursive;
	color: white;

}
body h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
}
body ul {
	height: 50px;
	width: 225px;
	box-shadow: 12px 5px 10px black;
	background-color: #26231F;
}
body p {
	margin: 5px;	
}
ul {
	display: inline-block;
	list-style: none;
}
.instructToggle div {
	display:none;
}
.instructToggle:hover > .dropMenu.instructions {
	display:inline-block;
	animation: dropMenu 300ms ease-in-out;

}
@keyframes dropMenu{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.instructions {
	color: black;
	position: absolute;
	padding: 25px;
	background-image: url('./../img/paper.jpg');
	width: 50%;
	box-shadow: inset 0 0 35px black;
	left: 25%;
	top:8%;
}
.instructions p {
	font-size: 24px;
}
.instructBtn {
	height: 26px;
	width: 55px;
	display:inline-block;
	border: 1px solid black;
	font-size: 18px;
	text-align: center;
	line-height:26px;
	background-size: contain;
	color: black;
}
#container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.side {
	height:700px;
	width: 225px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 12px 5px 10px black;
	background-image: url('./../img/wood-border.jpg');
	background-size: contain;

}
#playerOne {
	background-image: url('./../img/blue-pattern.jpg');
	background-size: cover;
}
#playerTwo {
	background-image: url('./../img/red-pattern.jpg');
	background-size: cover;
}
#playerInfo {
	height: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.playersBox {
	margin: 0 5px;
	border: 5px solid black;
	font-size: 18px;
}
.playersBox p {
	display: inline-block;
}
.side h2{
	align-self: center;
	margin-bottom: 5px;
}
.nextBox {
	height: 21%;
	width: 71%;
	box-shadow: inset 0 0 35px black;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-wrap: wrap;
}
#buttonBox {
	text-align: center;
	justify-content: center;
}
.btnBg{
	background-image: url('./../img/marble.jpg');	
}
button {
	margin: 5px;
	height: 50px;
	width: 150px;
	font-size: 24px;
	font-family: 'MedievalSharp', cursive;
	background-size: cover;
	border-radius:2px;
}
#tileToPlace {
	border: 1px solid red;
}
.displayCard {
	display: flex;
	height: 100px;
	width: 100px;
	z-index: 1;
}
.imgBox {
	border-radius: 1px;
	border: 1px solid black;
	height: 100px;
	width: 100px;
	position: absolute;
 	transform: rotate(0deg);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.displayCard .imgBox {
	transition: transform 300ms ease-in-out;

}
.square .imgBox {
	border: none;
}
#gameBoard {
	width: 50%;
	height: auto;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	border: 20px solid #26231F; 
	border-radius: 10px;
	padding: 20px;
	background-image: url('./../img/paper.jpg');
	background-size: cover;
	box-shadow: inset 0 0 150px black;
}
.row {
	margin: 1px;
	display: flex;
}
.tile {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.4);
}
.boxShadow {
	box-shadow: inset 0px 1px 10px black;	
}
.top, .bottom, .left, .right {
	height: 32%;
	z-index: 1;
	box-sizing: border-box;
}
.top, .bottom {
	width: 100%;
}
.left, .right{
	width: 50%;
}
.tilePlaceHolder {
	height: 100px;
	width: 100px;
}

.meepleImage {
	height: 25px;
	width: 25px;
	background-size: contain;
	display: inline-block;
	z-index: 1;
}
.meepleRed {
	background-image: url('./../img/meepleRed.png');
}
.meepleBlue {
	background-image: url('./../img/meepleBlue.png');

}