#container {
	border: 1px solid red;
	display: flex;
	flex-wrap: nowrap;
}

.side {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	width: 25%;

}
#playerInfo {
	border: 1px solid red;
}
.playersBox *{
	border: 1px solid red;
}
.playersBox p {
	display: inline-block;
}
.nextBox * {
	border: 1px solid red;
}
.nextBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nextBox p {
	flex: 100%;
	text-align: center;
}
#tileToPlace {
	border: 1px solid red;
}
.displayCard {
	height: 100px;
	width: 100px;
	border: 1px solid red;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
}
.rotate {
}
#gameBoard {
	width: 50%;
	height: auto;
	border: 1px solid red;
	text-align: center;
}
.row {
	display: flex;
}
.tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
}
.center {
	display: flex;
	flex: 1 100%;
	justify-content: space-between;
}
.meepleImage {
	border: 1px red solid;
	background-image: url('./../img/meepleRed.png');
	height: 25px;
	width: 25px;
	background-size: contain;

}