#container {
	border: 1px solid red;
	display: flex;
	flex-wrap: nowrap;
}

.side {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	width: 25%;

}
#playerInfo {
	border: 1px solid red;
}
.playersBox {
	border: 1px solid red;
}
.nextBox {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nextBox p {
	flex: 100%;
	text-align: center;
}
#tileToPlace {
	border: 1px solid red;
}
.displayCard {
	height: 100px;
	width: 100px;
	border: 1px solid red;
}
#gameBoard {
	width: 50%;
	height: auto;
	border: 1px solid red;
	text-align: center;
}
.row {
	display: flex;
}
.tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
}
.center {
	display: flex;
	flex: 1 100%;
	justify-content: space-between;
}
