#container {
	border: 1px solid red;
	display: flex;
	flex-wrap: nowrap;
}

.side {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	width: 25%;

}
#playerInfo {
	border: 1px solid red;
}
.playersBox *{
	border: 1px solid red;
}
.playersBox p {
	display: inline-block;
}
.nextBox {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nextBox p {
	flex: 100%;
	text-align: center;
}
#tileToPlace {
	border: 1px solid red;
}
.displayCard {
	display: flex;
	height: 100px;
	width: 100px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
	z-index: 1;
}

#gameBoard {
	width: 50%;
	height: auto;
	border: 1px solid red;
	text-align: center;
}
.row {
	display: flex;
}
.tile {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 2px;

}
.boxShadow {
	box-shadow: inset 0px 1px 10px black;	
}
.top, .bottom {
	width: 100%;
	box-sizing: border-box;
	transform-origin: 50% 50%;
}
.left, .right {
	width: 50%;
	box-sizing: border-box;
	transform-origin: 50% 50%;
}
.meepleImage {
	height: 25px;
	width: 25px;
	background-size: contain;
	display: inline-block;
}
.meepleRed {
	background-image: url('./../img/meepleRed.png');
}
.meepleBlue {
	background-image: url('./../img/meepleBlue.png');

}