
body {
	background-image: url('./../img/med-wood.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'MedievalSharp', cursive;
	color: white;

}
.title {
	background: url('./../img/paper.jpg');
	color: transparent;
	text-shadow: -5px 7px 5px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	font-size: 100px;
	text-align: center;
	margin: 0 0 25px 0;
}
body p {
	margin: 5px;	
}

.hide {
	display: none;
	animation: hide 300ms ease-out;
	animation-direction: reverse;
}
@keyframes hide {
 0% { opacity: 100%; }
 100% { opacity: 0%; }
}
@keyframes dropMenu {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.instructToggle {
	align-self: center;
}
.instructions {
	color: black;
	position: absolute;
	padding: 25px;
	background-image: url('./../img/paper.jpg');
	width: 50%;
	box-shadow: inset 0 0 80px 5px black;
	left: 25%;
	top:17%;
	animation: dropMenu 300ms ease-in-out;
	text-align: justify;
	z-index: 3;
}
.instructions h1, h2 {
	margin: 15px 0;
	text-align: center;
}
.instructions p {
	font-size: 24px;
}
.instructions .instructToggle {
	margin-left: 37%;
}
.instructBtn {
	height: 26px;
	width: 55px;
	display:inline-block;
	border: 1px solid black;
	text-align: center;
	font-size: 18px;
	line-height:26px;
	background-size: contain;
	color: black;
}
#container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.side {
	height:650px;
	width: 225px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 12px 5px 10px black;
	background-image: url('./../img/wood-border.jpg');
	background-size: contain;

}
#playerOne, #playerTwo, #gameBoard, .imgBox {
	background-size: cover;
}
#playerInfo {
	height: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.playersBox {
	margin: 0 5px;
	border: 5px solid black;
	font-size: 18px;
	box-sizing: border-box;
}
.playersBox p {
	display: inline-block;
}
#playerOne {
	background-image: url('./../img/blue-pattern.jpg');
}
#playerTwo {
	background-image: url('./../img/red-pattern.jpg');
}
.side h2{
	align-self: center;
	margin: 0;
}
.nextBox {
	height: 21%;
	width: 71%;
	box-shadow: inset 0 0 35px black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	justify-content: center;
}

.displayCard {
	display: flex;
	height: 100px;
	width: 100px;
	z-index: 2;
}
.tilePlaceHolder .displayCard {
	background: transparent;
	border: none;
}
.imgBox {
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 1px;
	border: 1px solid black;
 	transform: rotate(0deg);
	background-repeat: no-repeat;
}
.displayCard .imgBox {
	transition: transform 300ms ease-in-out;
}
#buttonBox {
	text-align: center;
	justify-content: center;
}
button {
	margin: 5px;
	height: 50px;
	width: 150px;
	font-size: 24px;
	font-family: 'MedievalSharp', cursive;
	background-size: cover;
	border-radius: 2px;
}
.btnBg{
	background-image: url('./../img/marble.jpg');	
}
.row {
	margin: 1px;
	display: flex;
}
.tile {
	height: 100px;
	width: 100px;
	margin: 3px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
	border: 2px solid black;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.3);
}
.tile .imgBox {
	border: none;
}
#gameBoard {
	width: 50%;
	height: auto;
	padding: 10px;
}
.boxShadow {
	box-shadow: inset 0px 1px 10px black;	
}
.top, .bottom, .left, .right {
	z-index: 1;
	height: 32%;
	box-sizing: border-box;
}
.top, .bottom {
	width: 100%;
	display: flex;
	justify-content: center;
}
.left, .right{
	width: 50%;
}
.tilePlaceHolder {
	height: 100px;
	width: 100px;
}
.meepleImage {
	height: 25px;
	width: 25px;
	background-size: contain;
	display: inline-block;
	z-index: 1;
}
.meepleRed {
	background-image: url('./../img/meepleRed.png');
}
.meepleBlue {
	background-image: url('./../img/meepleBlue.png');

}